- var blog =[
	    {
	    image : './img/news-card.jpg',
	    title : 'Сегодня ходил в клуб Заря',
	    description : `Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea 
                        odio quos voluptatibus perspiciatis ipsam impedit tempore ducimus omnis
                         deserunt adipisci inventore dicta consectetur...`,
        button: `Перейти к новости`,
        time: `26.06.2019`
	    },
	    {
	    image : './img/news-card.jpg',
	    title : 'Сегодня ходил в клуб Заря',
	    description : `Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea 
                        odio quos voluptatibus perspiciatis ipsam impedit tempore ducimus omnis
                         deserunt adipisci inventore dicta consectetur...`,
        button: `Перейти к новости`,
        time: `26.06.2019`
	    },
        {
	    image : './img/news-card.jpg',
	    title : 'Сегодня ходил в клуб Заря',
	    description : `Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea 
                    odio quos voluptatibus perspiciatis ipsam impedit tempore ducimus omnis
                     deserunt adipisci inventore dicta consectetur...`,
         button: `Перейти к новости`,
         time: `26.06.2019`
	    },
	    ]