section.contact.block
  .container
    h2.contact_title.title_h2 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    .contact_links
      .contact_link
        img(src='./img/vk.svg' alt='vk')
      .contact_link
        img(src='./img/Inst.svg' alt='vk')
      .contact_link
        img(src='./img/phone.svg' alt='vk')
      .contact_link
        img(src='./img/mail.svg' alt='vk')
