section.contact.block
  .container
    h2.contact_title.title_h2 Контакты
    .contact_list
      a(href="#").contact_link
        .contact_item.contact_item--vk
      a(href="#").contact_link
        .contact_item.contact_item--inst
      a(href="#").contact_link
        .contact_item.contact_item--phone
      a(href="#").contact_link
        .contact_item.contact_item--mail
