extends components/layout

block animation
  .container
    h2 Анимация
    .animate
      .animate__block
        .podium.podium1
        .podium.podium2
        .podium.podium3
    .rocket
    .danger
    .wrapper
      .cube
        .side.side1 1
        .side.side2 2
        .side.side3 3
        .side.side4 4
        .side.side5 5
        .side.side6 6
