extends components/layout
block about

  ul.list
    li.list__square.list__item toggle square
    li.list__bounce.list__item add animate square
    li.list__triangle.list__item toggle triangle
    li.list__animate-triangle.list__item toggle animate triangle
    li.list__reset.list__item reset
  .asdss
block script
  script(src="context-menu.js")
  script(src="listener-menu.js")
