extends components/layout

block header
    include components/header/_header.pug
block about
    include components/about/_about.pug
block blog
    include components/blog/blog.pug
block contacts
    include components/contacts/contacts.pug
block footer
    include components/footer/_footer.pug