extends components/layout

block about
  .container
    .blocks
      p тут в консоли дз 4 c ***********
      a(href="/jsdz.html") дз 3 + 4 + 1 + 2


    .shop
      form(action='')
        label Именнование
        input(type="text" class='input-shop')
        label Цена
        input(type="text" class='input-add-product')
        button.button.addshop Добавить товар
    .look
      p Фрукты
      table.page-table

