extends components/layout

block about
  .container
    .blocks
      p тут в консоли дз со 2 занятия
      a(href="/jsdz.html") дз 3 + 4
      

    .shop
      form(action='')
        label Именнование
        input(type="text" class='input-shop')
        label Цена
        input(type="text" class='input-add-product')
        button.button.addshop Добавить товар
    .look  