extends components/layout

block about
  .container
    .blocks
     .text
     .for
     .while
    button.button-for заполнить массив for
    button.button-while заполнить массив while
    button.button-obj заполнить объект и вывести на экран
