extends components/layout

block about
  .container.block-img-container
    .block-img
      h1.block-img__title Заголовок 1
      img(src='./img/city.jpg')
    .block-img
      h1.block-img__title Заголовок 2
      img(src='./img/city2.jpeg')
    .block-img
      h1.block-img__title Заголовок 3
      img(src='./img/picture.jpg')


block script
  script(src="parallax.js")
