<section class="about-us block">
    <div class="container">
        <h2 class="about-us_title title_h2">
            Обо мне
        </h2>
        <div class="about-us_info about-block">
            <div class="about-block_avatar">
                <img src="./img/foto.jpg" alt="">
            </div>
            <div class="about-block_text-button">
                <div class="about-block_text just_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quasi culpa eveniet
                    assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis, ipsam impedit tempore
                    ducimus omnis deserunt adipisci inventore dicta consectetur, reiciendis fugiat ad! Eum excepturi
                    accusantium amet odio corporis? Odio dignissimos repudiandae vero sapiente voluptatum laboriosam
                    fuga quidem quos, nostrum voluptate, qui recusandae commodi. Aliquid tenetur repellat velit
                    assumenda sapiente aspernatur ratione, error labore pariatur cum architecto debitis odio mollitia
                    unde officiis distinctio quia quam, voluptas quidem quasi dolorum, repudiandae obcaecati. Veniam
                    voluptatibus dolorum iste molestiae repellat officiis quibusdam recusandae sequi cupiditate, sit
                    corrupti! Illo, esse quibusdam?
                </div>
                <button class="button about-block_button">
                        Подробнее
                </button>
            </div>
        </div>
    </div>
</section>