<section class="blog block">
    <div class="container">
        <h2 class="blog_title title_h2">Мой блог</h2>
        <div class="blog_list">
            <div class="blog_item">
                <img class="blog_img" src="./img/news-card.jpg" alt="">
                <div class="blog_item-wr">
                    <h3 class="title_h3 blog_h3">Сегодня ходил в клуб Заря</h3>
                    <p class="blog_text just_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                        distinctio
                        quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis,
                        ipsam
                        impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...</p>
                    <div class="blog_button-time">
                        <button class="button blog_button">Перейти к новости</button>
                        <time class="blog_time">26.06.2019</time>
                    </div>
                </div>
            </div>

            <div class="blog_item">
                <img class="blog_img" src="./img/news-card.jpg" alt="">
                <div class="blog_item-wr">
                    <h3 class="title_h3 blog_h3">Сегодня ходил в клуб Заря</h3>
                    <p class="blog_text just_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                        distinctio
                        quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis,
                        ipsam
                        impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...</p>
                    <div class="blog_button-time">
                        <button class="button blog_button">Перейти к новости</button>
                        <time class="blog_time">26.06.2019</time>
                    </div>
                </div>
            </div>

            <div class="blog_item">
                <img class="blog_img" src="./img/news-card.jpg" alt="">
                <div class="blog_item-wr">
                    <h3 class="title_h3 blog_h3">Сегодня ходил в клуб Заря</h3>
                    <p class="blog_text just_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                        distinctio
                        quasi culpa eveniet assumenda quia qui molestiae est ea odio quos voluptatibus perspiciatis,
                        ipsam
                        impedit tempore ducimus omnis deserunt adipisci inventore dicta consectetur...</p>
                    <div class="blog_button-time">
                        <button class="button blog_button">Перейти к новости</button>
                        <time class="blog_time">26.06.2019</time>
                    </div>
                </div>

            </div>

        </div>
        <button class="button blog_all-news-button">Посмотреть все новости</button>
    </div>
</section>