<section class="contact block">
    <div class="container">
        <h2 class="contact_title title_h2">Контакты</h2>
        <div class="contact_links">
            <div class="contact_link">
                <img src="./img/vk.svg" alt="vk">
            </div>
            <div class="contact_link">
                <img src="./img/Inst.svg" alt="vk">
            </div>
            <div class="contact_link">
                <img src="./img/phone.svg" alt="vk">
            </div>
            <div class="contact_link">
                <img src="./img/mail.svg" alt="vk">
            </div>
        </div>
    </div>
</section>