$button: #FFE01B;
$bg_contact: #FFE01B;
$white: #ffffff;
$black: #000000;
$hover_link: #FF6969;
$hover_button: #ECCC00;
$active_button: #FFEB6C;
$bg_blog: #F2F2F2;
$bg_about_page: $bg_blog;
$bg_social:#343434;
