//Импорт общих стилей
@import "./common";
//Импорт шрифтов
@import "./fonts";
// //Импорт стилей страниц
// @import "./pages/index";
// @import "./pages/contacts";
// blog
@import "../blog/blog";
//contacts
@import "../contacts/contacts";

// about
@import "../about/about";
//about-page
@import "../about-page/about-page";
// icon
@import "../about-page/icon";
// about-news
@import "../about-page/about-news";
//header
@import "../header/header";
// footer
@import "../footer/footer";
//main
@import "../menu/menu";
//buttons
@import "./buttons";
//PHONEa
@import "../phone/phone";
@import 'animate';
@import 'parallax';

//Импорт компонентов для страниц
form{
  margin-bottom: 10px;
}
.shop{
  .button{
  }
}

.asdss{
  height: 500px;
}

.list{
    width:250px;
    border-radius: 20px;
    background-color: #333333;
    color: #ffffff;
    position: absolute;
    padding: 20px;
     padding-right: 80px;
    display: none;
    list-style: none;
    z-index: 111;


  }
.list__item{
    padding-bottom: 20px;

   font-size: 20px;
    text-transform: capitalize;
   font-family: sans-serif;
   transition: color .2s linear;
   white-space: nowrap;
 }
  li{

    cursor: pointer
  }
  li:hover{
      color: red;
  }

.page-table{
  //border-collapse: collapse ;
  border: #1C5CA8 1px solid;
  box-sizing: border-box;
  padding:10px 50px;
  tr{
     //border: 1px solid black;
    //display: inline-block;
    text-align: right;

  }
  td{
    padding: 5px 15px;
    width: 200px;
    //width: 51%;
    display: inline-block;
    margin-left: 30px;
  }
}
strong{
  color: #ff4933;
}
  input{
    padding: 5px;
  }
// стили для js.page
*{
  padding: 0;
  margin: 0;
}
.container{
  .blocks{
    height: 300px;
  }
}

