.phone {
  position: fixed;
  background: #FF6969;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  bottom: 60px;
  right: 75px;
  justify-content: center;
  align-items: center;
  //

  &:hover {
    .phone__img {
      &:before {
        transform: translate(-50%, -50%) scale(1.4);
      }

    }

  }

  &__img {
    position: relative;

    &:before {
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease-out;
      width: 40px;
      height: 40px;
      position: absolute;
      background: $sprite_url no-repeat rel-background-position(40px, 40px, -255px, -113px);
      background-size: rel-background-size(40px, 40px, 250px, 100px);
    }
  }
}
