-
  var
    news= [
    {
      title: "Фото в сквере нашего парка",
      time: "10.02.2018",
      src: "./img/news/1.jpg"
    },
    {
      title: "Красивый закат и девушка",
      time: "17.03.2017",
      src: "./img/news/2.jpg"
    },
    {
      title: "Красивые горы на фоне",
      time: "21.01.2017",
      src: "./img/news/3.jpg"
    },
    {
      title: "Успела заснять капитана Marvel",
      time: "13.06.2017",
      src: "./img/news/4.jpg"
    },
    {
      title: "Эмма Уотсон уже не торт",
      time: "03.08.2016",
      src: "./img/news/5.jpg"
    },
    {
      title: "Жру и не толтею, сжечь меня, шучу",
      time: "30.01.2014",
      src: "./img/news/6.jpg"
    },
    ]
